.bodyHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.bodyHeader__left {
  flex: 0.6;
  min-width: 100px;
  background-color: white;
  color: gray;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.bodyHeader__left > input {
  border: none;
  width: 100%;
}

.bodyHeader__left > input:focus {
  border: none;
}

.bodyHeader__right {
  display: flex;
  align-items: center;
}

.bodyHeader__right > h4 {
  margin-left: 10px;
}
